<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard Viewer</title>

		<!-- Standard Libraries -->
		<script src="/insights/js/lib/jquery.min.js"></script>
		<script src="/insights/js/lib/jquery.xml2json.min.js"></script>
		<script src="/insights/js/lib/d3.min.js"></script>
		<script src="/insights/js/lib/angular.min.js"></script>
		<script src="/insights/js/lib/angular-animate.min.js"></script>

        <!-- Angular Material Library -->
        <script src="/insights/js/lib/angular-aria.min.js"></script>
        <script src="/insights/js/lib/angular-messages.min.js"></script>
        <script src="/insights/js/lib/angular-material.min.js"></script>
        <link rel="stylesheet" href="/insights/css/lib/angular-material.min.css">

		<!-- Mapping Libraries -->
		<script src="/insights/js/lib/leaflet.min.js"></script>
		<script src="/insights/js/lib/leaflet.pip.min.js"></script>
		<script src="/insights/js/lib/topojson.min.js"></script>
		<link rel="stylesheet" href="/insights/css/lib/leaflet.css" />

		<!-- OBIEE Integration Libraries -->
        <script src="/insights/js/config.js"></script>
        <script src="/insights/js/customConfig.js"></script>
		<script src="/insights/js/obiee.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/css/insights.css">

		<!-- UI Libraries -->
        <script src="/insights/js/insights.js"></script>
		<script src="/insights/js/lib/angular-modal-service.min.js"></script>
        <script src="/insights/js/lib/jquery-ui.min.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/css/lib/jquery-ui.min.css">
		<script src="/insights/js/lib/interact.min.js"></script>
		<script src="/insights/js/lib/modernizr.min.js"></script>
		<script src="/insights/js/lib/angular-modal-service.min.js"></script>
		<script src="/insights/js/lib/angular-selection-model.min.js"></script>
		<script src="/insights/js/lib/interact.min.js"></script>
		<script src="/insights/js/lib/fabric.min.js"></script>
		<script src="/insights/js/lib/html2canvas.min.js"></script>
		<script src="/insights/js/lib/jszip.min.js"></script>
		<script src="/insights/js/lib/xlsx.core.min.js"></script>
		<script src="/insights/js/lib/FileSaver.min.js"></script>
		<script src="/insights/js/lib/clipboard.min.js"></script>
		<script src="/insights/js/lib/jspdf.min.js"></script>

		<!-- RMVPP Integration Libraries -->
		<script src="/insights/js/rmvpp.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/css/rmvpp.css">

		<!-- Icons -->
        <link rel="stylesheet" href="/insights/icons/css/font-awesome.min.css">

		<!-- Plugins -->

		<!-- Table -->
		<script src="/insights/plugins/table/lib/ag-grid.min.js"></script>
		<script src="/insights/plugins/table/table.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/plugins/table/lib/ag-rm.css">

        <!-- Chord -->
        <script src="/insights/plugins/chord/chord.js"></script>

		<!-- Bar Chart -->
		<script src="/insights/plugins/bar/bar.js"></script>

        <!-- Treemap -->
        <script src="/insights/plugins/treemap/treemap.js"></script>

		<!-- Word Cloud -->
		<script src="/insights/plugins/word-cloud/lib/d3.layout.cloud.min.js"></script>
		<script src="/insights/plugins/word-cloud/word-cloud.js"></script>

		<!-- Pivot Table -->
		<script src="/insights/plugins/pivot-table/lib/pivot.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/plugins/pivot-table/pivot-table.css">
		<script src="/insights/plugins/pivot-table/pivot-table.js"></script>

		<!-- Measure Tile -->
		<script src="/insights/plugins/measure-tile/measure-tile.js"></script>

        <!-- Radial Progress  -->
        <script src="/insights/plugins/radial-progress/radial-progress.js"></script>

		<!-- Pie Chart -->
		<script src="/insights/plugins/pie/pie.js"></script>

		<!-- Line Chart -->
		<script src="/insights/plugins/line/line.js"></script>

		<!-- Line/Bar Chart -->
		<script src="/insights/plugins/line-bar/line-bar.js"></script>

		<!-- Scatter Chart -->
		<script src="/insights/plugins/scatter/scatter.js"></script>

		<!-- Map (Bubbles) -->
		<script src="/insights/plugins/map-bubbles/map-bubbles.js"></script>

		<!-- Map (Heatmap) -->
		<script src="/insights/plugins/map-heatmap/lib/leaflet-heat.min.js"></script>
		<script src="/insights/plugins/map-heatmap/map-heatmap.js"></script>

		<!-- Map (Cluster) -->
		<script src="/insights/plugins/map-cluster/lib/leaflet.markercluster.min.js"></script>
		<link	rel="stylesheet" type="text/css" href="/insights/plugins/map-cluster/lib/MarkerCluster.css">
		<link	rel="stylesheet" type="text/css" href="/insights/plugins/map-cluster/lib/MarkerCluster.RM.css">
		<script src="/insights/plugins/map-cluster/map-cluster.js"></script>

		<!-- Map (Choropleth) -->
		<script src="/insights/plugins/map-choropleth/map-choropleth.js"></script>

        <!-- Map (Choropleth & Points)  -->
        <script src="/insights/plugins/map-choro-points/map-choro-points.js"></script>

		<!-- Sankey Chart -->
		<script src="/insights/plugins/sankey/lib/d3.sankey.min.js"></script>
		<script src="/insights/plugins/sankey/sankey.js"></script>

        <!-- Radar Chart -->
		<script src="/insights/plugins/radar/radar.js"></script>

        <!-- Sunburst Chart -->
		<script src="/insights/plugins/sunburst/sunburst.js"></script>

		<!-- Angular -->
		<script>var app = angular.module('DBView', ['ngMaterial', 'ngAnimate', 'angularModalService', 'selectionModel']);</script>
		<script src="/insights/app/services/global.js"></script>
        <script src="/insights/app/services/modals.js"></script>
		<script src="/insights/app/states/view/view-controller.js"></script>
		<script src="/insights/app/directives/directives.js"></script>
	</head>
	<body ng-app="DBView">
		<div ng-controller="dbView">
            <div class="mask overlay" style="opacity: 1; background: #FFFFFF;"></div>
			<div loading="loading"></div>
            <div class="topPane panel fixed" ng-class="showPane ? 'showLeft' : ''" style="text-align: center" ng-if="!hidePanes">
                <md-content md-theme="dark" layout="row">
                    <section flex="85" layout="row" layout-align="center center">
                        <mat-button flat label-pos="bottom" icon="file-image-o" label="Export to PNG" ng-click="exportToPNG()"></mat-button>
                        <mat-button flat label-pos="bottom" icon="file-pdf-o" label="Export to PDF" ng-click="exportToPDF()"></mat-button>
                        <mat-button flat label-pos="bottom" icon="file-excel-o" label="Export to XLSX" ng-click="exportToXLSX()"></mat-button>
                        <mat-button flat label-pos="bottom" icon="file-text-o" label="Export to CSV" ng-click="exportToCSV()"></mat-button>
                        <mat-button flat label-pos="bottom" icon="refresh" label="Refresh" ng-click="refresh()"></mat-button>
                        <mat-button ng-if="isAuthor" flat label-pos="bottom" icon="pencil" label="Edit Dashboard" ng-click="editDashboard()"></mat-button>
                        <mat-button id="get-link" flat label-pos="bottom" icon="link" label="Get Link"></mat-button>
                    </section>
                    <section flex="15" layout="row" layout-align="center start">
                        <mat-button size="mini" label-pos="bottom" icon="home" label="Portal" ng-click="home()"></mat-button>
                        <mat-button size="mini" ng-if="logoffBtn" label-pos="bottom" icon="sign-out" label="Sign Out" ng-click="logoff()"></mat-button>
                    </section>
                </md-content>
            </div>
            <div class="leftPane fixed panel" ng-class="showPane ? 'showLeft' : ''" ng-if="!hidePanes">
                <div style="margin-top: 10px;">
                    <i class="fa fa-tachometer headerIcon" ng-click="togglePane()"></i>
                    <span class="header">Dashboard</span>
                </div>
                <div class="pageList">
                    <div ng-repeat="page in dbPages" ng-click="switchPage(page)">
                        <i ng-if="selectedPage == page" class="fa fa-circle selected"></i>
                        <i ng-if="selectedPage != page" class="fa fa-circle-o"></i>
                        <span>{{ page }}</span>
                        <md-tooltip md-direction="right">{{ page }}</md-tooltip>
                    </div>
                </div>
                <div class="toggle" ng-click="togglePane()">
                    <i class="fa" ng-class="showPane ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
                </div>
            </div>
            <div class="pageText error" ng-show="error">
                <i class="fa fa-times-circle"></i>
                <span>{{ error }}</span>
            </div>
            <div class="mainContent fixed" ng-class="showPane ? 'showLeft' : ''" ng-show="!error"
                ng-style="hidePanes ? {'margin-left': '0px', 'padding-top': '0px'} : {}">
                <div dashboard-page db="db" path="path" id="rm-DBContainer"></div>
            </div>
		</div>
	</body>
</html>
