<div>
	<mat-button ng-show="visuals.length > 0" size="mini" type="accent" icon="plus" ng-click="newDrill()" label="New Drilldown"></mat-button>
	<md-list>
		<md-list-item ng-repeat="drill in drilldowns">
			<div layout="row" layout-align="start center" style="width: 100%;">
				<div>
					<span style="font-weight: bold;">{{ drill.SourceVis.DisplayName }}</span>
					<span style="color: #777;">{{ triggerName(drill) }}</span>
					<md-icon class="md-primary fa" md-font-icon="fa-long-arrow-right"></md-icon>
					<span style="font-weight: bold;">{{ drill.DrillPath }}</span>
			</div>
			<md-icon class="md-secondary fa" style="font-size: 20px;" ng-click="editDrill(drill, $index)" aria-label="Edit" md-font-icon="fa-wrench"><md-tooltip>Edit</md-tooltip></md-icon>
			<md-icon class="md-secondary md-warn fa" style="font-size: 20px;" ng-click="removeDrill(drill)" aria-label="Remove" md-font-icon="fa-remove"><md-tooltip>Remove</md-tooltip></md-icon>
		</md-list-item>
	</md-list>
</div>
